@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  user-select: none !important;
  font-family: 'Quicksand', sans-serif !important;
}

body {
  background-color: rgb(26, 26, 26);
  display: grid;
  place-items: center;
  min-height: 100vh;
}